@charset "UTF-8";
/* Высота шапки */
/* Высота фильтра */
/* Высота панели вызова фильтра/карты в мобильных версиях */
/* Высота шапки */
/* Высота фильтра */
/* Высота панели вызова фильтра/карты в мобильных версиях */
@font-face {
	font-family: "FuturaPT";
  src: url("/fonts/FuturaPT-Heavy/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Heavy/FuturaPT-Heavy.woff") format("woff"), url("/fonts/FuturaPT-Heavy/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
	font-family: "FuturaPT";
  src: url("/fonts/FuturaPT-Demi/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Demi/FuturaPT-Demi.woff") format("woff"), url("/fonts/FuturaPT-Demi/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
	font-family: "FuturaFuturis";
  src: url("/fonts/FuturaFuturis-Light/FuturaFuturis-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaFuturis-Light/FuturaFuturis-Light.woff") format("woff"), url("/fonts/FuturaFuturis-Light/FuturaFuturis-Light.ttf") format("truetype");
  font-weight: 300;
}

html,
body {
	overflow-x: hidden;
}

body {
	min-width: 320px;
	position: relative;
}

section {
	position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

srtong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

/* Заголовки, Текста */
body {
	font-family: 'FuturaFuturis';
	font-size: 18px;
	line-height: 30px;
}

@media (max-width: 767.98px) {
	body {
		font-size: 16px;
		line-height: 24px;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: 'FuturaPT';
	font-weight: 900;
}

h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'FuturaPT';
	font-weight: 400;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	display: inline-block;
	letter-spacing: normal;
}

h1, .h1 {
	font-size: 36px;
	line-height: 40px;
}

@media (max-width: 1279.98px) {
	h1, .h1 {
		font-size: 28px;
		line-height: 34px;
	}
}

@media (max-width: 767.98px) {
	h1, .h1 {
		font-size: 24px;
		line-height: 30px;
	}
}

h2, .h2 {
	font-size: 28px;
	line-height: 32px;
}

@media (max-width: 1279.98px) {
	h2, .h2 {
		font-size: 24px;
		line-height: 30px;
	}
}

@media (max-width: 767.98px) {
	h2, .h2 {
		font-size: 22px;
		line-height: 26px;
	}
}

h3, .h3 {
	font-size: 24px;
	line-height: 28px;
}

h4, .h4 {
	font-size: 20px;
	line-height: 24px;
}

h5, .h5,
h6, .h6 {
	font-size: 14px;
	line-height: 18px;
}

/* Эл-ты форм */
.form-field {
	position: relative;
}

.form-field__input {
	height: 50px;
	width: 100%;
	background-color: #fff;
	border: 1px solid transparent;
	outline: none !important;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #1f1f1f;
}

.form-field__input:focus, .form-field__input:active {
	-webkit-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.form-field__input::-webkit-input-placeholder {
	font-family: 'FuturaFuturis';
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: #6a6f75;
}

.form-field__input::-moz-placeholder {
	font-family: 'FuturaFuturis';
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: #6a6f75;
}

.form-field__input:-moz-placeholder {
	font-family: 'FuturaFuturis';
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: #6a6f75;
}

.form-field__input:-ms-input-placeholder {
	font-family: 'FuturaFuturis';
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: #6a6f75;
}

.form-field__label {
	position: absolute;
	top: 50%;
	left: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 15px;
	line-height: 20px;
	color: #696e74;
}

.form-field_label .form-field__input {
	text-align: right;
}

.form-field_label.form-field_right .form-field__input {
	padding-left: 25px;
	padding-right: 20px;
}

.form-field_label.form-field_right .form-field__label {
	left: 10px;
}

.form-field_label.form-field_left .form-field__input {
	padding-left: 35px;
	padding-right: 10px;
}

.form-field_right .form-field__input {
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form-field_left .form-field__input {
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn {
	display: inline-block;
	height: 50px;
	border: 1px solid transparent;
	outline: none !important;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 25px;
	font-size: 15px;
	line-height: 48px;
	text-transform: uppercase;
	text-decoration: none !important;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn_color_ac {
	background-color: #2371c9;
	color: #fff;
}

.btn_color_ac:hover {
	background-color: #1c80f1;
	color: #fff !important;
}

.btn_color_ac:active, .btn_color_ac:focus {
	background-color: #1157a5;
	color: #fff !important;
}

.btn_color_white {
	line-height: 46px;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
}

.btn_color_white:hover {
	background-color: #fff;
	color: #6a6f75;
}

.btn_color_white:active, .btn_color_white:focus {
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
	color: #6a6f75;
}

.btn_color_white-f {
	background-color: #fff;
	color: #6a6f75;
}

.btn_color_white-f:hover {
	-webkit-box-shadow: 0px 5px 15px 0 rgba(35, 113, 201, 0.3);
	box-shadow: 0px 5px 15px 0 rgba(35, 113, 201, 0.3);
	color: #6a6f75;
}

.btn_color_body-text {
	line-height: 46px;
	border: 2px solid #6a6f75;
	background-color: transparent;
	color: #6a6f75;
}

.btn_arrow_left > img, .btn_arrow_left > svg, .btn_arrow_right > img, .btn_arrow_right > svg {
	display: inline-block;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.btn_arrow_left > span, .btn_arrow_right > span {
	display: inline-block;
	line-height: 48px;
	-webkit-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
}

.btn_arrow_left {
	padding-left: 0;
}

.btn_arrow_right {
	padding-right: 0;
}

.btn_sm {
	padding: 0;
	width: 50px;
}

.btn_sm > img, .btn_sm > svg {
	-webkit-transform: translate(-2px, -2px);
	-ms-transform: translate(-2px, -2px);
	transform: translate(-2px, -2px);
}

@media (max-width: 767.98px) {
	.btn_arrow_left, .btn_arrow_right {
		padding: 0;
	}

	.btn_arrow_left > span, .btn_arrow_right > span {
		display: none;
	}
}

.btn-map {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	border: 1px solid transparent;
	outline: none !important;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 25px;
	font-size: 15px;
	line-height: 50px;
	color: #5d6161;
	text-decoration: none !important;
	cursor: pointer;
	background-color: transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-map span {
	display: inline-block;
	padding-right: 10px;
}

.btn-map:hover {
	background-color: #f6f6f6;
}

@media (max-width: 1279.98px) {
	.btn-map {
		line-height: 16px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		padding: 0;
	}

	.btn-map span {
		padding: 0;
		display: block;
	}

	.btn-map:hover {
		background-color: transparent;
	}
}

.paginator {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.paginator__prev, .paginator__next, .paginator__page {
	height: 50px;
}

.paginator__prev {
	margin-right: 10px;
}

.paginator__next {
	margin-left: 10px;
}

.paginator__page {
	margin-left: 10px;
	margin-right: 10px;
}

@media (max-width: 767.98px) {
	.paginator__prev {
		margin-right: 5px;
	}

	.paginator__next {
		margin-left: 5px;
	}

	.paginator__page {
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* Реакт мульти селект */
.multi-select {
	position: relative;
}

.dropdown {
	position: relative;
}

.dropdown__head {
	position: relative;
}

.dropdown__body {
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
}

.dropdown:focus {
	outline: none;
}

.dropdown-head {
	height: 50px;
	width: 100%;
	background-color: #fff;
	border: 1px solid transparent;
	outline: none !important;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 25px;
	cursor: pointer;
}

.dropdown-head.expanded {
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.dropdown-head.focus {
	-webkit-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-head__value {
	position: absolute;
	top: 50%;
	left: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.dropdown-head__value span {
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #1f1f1f;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.dropdown-head__value span.empty {
	font-family: 'FuturaFuturis';
	font-weight: 300;
	color: #a9aeb4;
}

.dropdown-head__arrow {
	position: absolute;
	top: 0;
	right: 0;
}

.dropdown-head__arrow span {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/img/ui-icon/arrow-bottom.svg");
}

.dropdown-body {
	min-width: 120%;
	height: auto;
	background-color: #fff;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	padding: 25px 0;
}

@media (max-width: 1279.98px) {
	.dropdown-body {
		min-width: 100%;
	}
}

.select-list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 30vh;
	overflow: auto;
}

.select-list__label {
	margin: 0;
	position: relative;
	display: block;
	width: 100%;
	min-height: 40px;
	padding-left: 53px;
	padding-top: 6px;
	padding-bottom: 4px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.select-list__label > span {
	font-family: 'FuturaFuturis';
	font-weight: 300;
	font-size: 15px;
	line-height: 16px;
}

.select-list__label > span::before, .select-list__label > span::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 24px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.select-list__label > span::before {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid #a9aeb4;
}

.select-list__label > span::after {
	background-image: url(/img/ui-icon/checkbox.svg);
	opacity: 0;
}

.select-list__label > input {
	display: none;
}

.select-list__label.hover, .select-list__label.focus {
	background-color: #f2f2f2;
}

.select-list__label.checked > span::before {
	border-color: #2371c9;
}

.select-list__label.checked > span::after {
	opacity: 1;
}

.header {
	position: fixed;
	z-index: 110;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.header__left, .header__middle, .header__right, .header__logo, .header__menu, .header__phone, .header__callback {
	height: 100%;
}

.header__left, .header__phone {
	width: 220px;
}

.header__middle {
	width: -webkit-calc(100% - 440px - 70px);
	width: calc(100% - 440px - 70px);
}

.header__right {
	width: 300px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__callback {
	width: 80px;
}

.header__phone {
	background-color: #2371c9;
}

@media (min-width: 1280px) {
	.header_home {
		background-color: transparent;
	}

	.header_home .header__phone {
		background-color: transparent;
	}
}

@media (max-width: 991.98px) {
	.header__middle {
		width: -webkit-calc(100% - 220px - (50% - 80px));
		width: calc(100% - 220px - (50% - 80px));
	}

	.header__right {
		width: -webkit-calc(50% - 80px);
		width: calc(50% - 80px);
	}

	.header__phone {
		width: -webkit-calc(100% - 80px);
		width: calc(100% - 80px);
	}
}

@media (max-width: 767.98px) {
	.header__left {
		width: -webkit-calc(100% - 160px);
		width: calc(100% - 160px);
	}

	.header__middle, .header__right {
		width: 80px;
	}

	.header__phone {
		display: none;
	}
}

.hdr-logo {
	display: inline-block;
}

@media (min-width: 1280px) {
	.hdr-logo_home > svg path {
		fill: #fff;
	}
}

.hdr-menu__button {
	display: none;
}

.hdr-menu__container {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.hdr-menu__left, .hdr-menu__right {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.hdr-menu__left a, .hdr-menu__right a {
	color: #4a4a4c;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hdr-menu__left a:hover, .hdr-menu__left a:active, .hdr-menu__left a:focus, .hdr-menu__right a:hover, .hdr-menu__right a:active, .hdr-menu__right a:focus {
	color: #2371c9;
}

.hdr-menu__left {
	padding-left: 40px;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.hdr-menu__left li:not(:last-child) {
	margin-right: 40px;
}

.hdr-menu__right {
	padding-right: 40px;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.hdr-menu__right li:not(:first-child) {
	margin-left: 40px;
}

.hdr-menu__phone {
	display: none;
}

@media (min-width: 1280px) {
	.hdr-menu_home .hdr-menu__left a, .hdr-menu_home .hdr-menu__right a {
		color: rgba(255, 255, 255, 0.8);
	}

	.hdr-menu_home .hdr-menu__left a:hover, .hdr-menu_home .hdr-menu__left a:active, .hdr-menu_home .hdr-menu__left a:focus, .hdr-menu_home .hdr-menu__right a:hover, .hdr-menu_home .hdr-menu__right a:active, .hdr-menu_home .hdr-menu__right a:focus {
		color: #fff;
	}
}

@media (max-width: 1279.98px) {
	.hdr-menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.hdr-menu__button {
		display: block;
		padding: 0;
		width: 80px;
		height: 100%;
		border: none;
		outline: none !important;
		background-color: #2371c9;
		cursor: pointer;
	}

	.hdr-menu__button > svg circle {
		fill: #fff !important;
	}

	.hdr-menu__container {
		position: fixed;
		z-index: 100;
		top: 69px;
		right: 0;
		width: 380px;
		height: -webkit-calc(100vh - 69px);
		height: calc(100vh - 69px);
		padding: 30px;
		background-color: #2371c9;
		-webkit-box-shadow: inset 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
		box-shadow: inset 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		display: none;
		opacity: 0;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.hdr-menu__container.display {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.hdr-menu__container.visible {
		opacity: 1;
	}

	.hdr-menu__left, .hdr-menu__right {
		width: 100%;
		height: auto;
		padding: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.hdr-menu__left a, .hdr-menu__right a {
		display: inline-block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		color: rgba(255, 255, 255, 0.8);
	}

	.hdr-menu__left a:hover, .hdr-menu__left a:active, .hdr-menu__left a:focus, .hdr-menu__right a:hover, .hdr-menu__right a:active, .hdr-menu__right a:focus {
		color: #fff;
	}

	.hdr-menu__left li:not(:last-child) {
		margin-right: 0;
	}

	.hdr-menu__right li:not(:first-child) {
		margin-left: 0;
	}
}

@media (max-width: 991.98px) {
	.hdr-menu__container {
		width: 50%;
	}
}

@media (max-width: 767.98px) {
	.hdr-menu__container {
		width: 100%;
	}

	.hdr-menu__phone {
		margin-top: 3px;
		display: block;
		width: 100%;
	}

	.hdr-menu__phone a {
		font-family: 'FuturaPT';
		font-weight: 400;
		color: #fff !important;
		text-decoration: none !important;
	}
}

.hdr-phone {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: 'FuturaPT';
	font-weight: 400;
	color: #fff !important;
	text-decoration: none !important;
}

@media (max-width: 1279.98px) {
	.hdr-phone {
		border-left: 1px solid #fff;
	}
}

.hdr-callback {
	position: relative;
}

.hdr-callback:hover .hdr-callback__dropdown {
	display: block;
}

.hdr-callback__button {
	width: 100%;
	height: 100%;
	background-color: #2e2e2e;
	border: none;
	outline: none !important;
	cursor: pointer;
	padding: 0;
}

.hdr-callback__button > svg path {
	fill: #fff !important;
}

.hdr-callback__dropdown {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 300px;
	height: auto;
	background-color: #2e2e2e;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media (min-width: 1280px) {
	.hdr-callback_home:hover .hdr-callback__button {
		background-color: #2e2e2e;
	}

	.hdr-callback_home .hdr-callback__button {
		background-color: transparent;
	}
}

.hdr-cb-dd {
	padding: 30px 35px 40px;
	text-align: center;
}

.hdr-cb-dd__title {
	font-family: 'FuturaPT';
	font-weight: 400;
	color: #fff;
	margin: 0 0 20px;
}

.hdr-cb-dd__input {
	width: 100%;
	margin: 0 0 30px;
}

.hdr-cb-dd__button {
	width: 100%;
}

.footer {
	width: 100%;
	height: 100px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
}

.footer__left, .footer__middle, .footer__right {
	padding-left: 15px;
	padding-right: 15px;
}

.footer__left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 -webkit-calc((100% - 1200px) / 2);
	-ms-flex: 0 0 calc((100% - 1200px) / 2);
	flex: 0 0 calc((100% - 1200px) / 2);
	max-width: -webkit-calc((100% - 1200px) / 2);
	max-width: calc((100% - 1200px) / 2);
}

.footer__middle {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 1200px;
	-ms-flex: 0 0 1200px;
	flex: 0 0 1200px;
	max-width: 1200px;
}

.footer__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 -webkit-calc((100% - 1200px) / 2);
	-ms-flex: 0 0 calc((100% - 1200px) / 2);
	flex: 0 0 calc((100% - 1200px) / 2);
	max-width: -webkit-calc((100% - 1200px) / 2);
	max-width: calc((100% - 1200px) / 2);
}

.footer__grechka {
	padding-right: 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@media (max-width: 1559.98px) {
	.footer__left {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.66667%;
		-ms-flex: 0 0 16.66667%;
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.footer__middle {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.66667%;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.footer__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.66667%;
		-ms-flex: 0 0 16.66667%;
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}
}

@media (max-width: 1279.98px) {
	.footer__left {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.33333%;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.footer__middle {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.footer__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.66667%;
		-ms-flex: 0 0 16.66667%;
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}
}

@media (max-width: 767.98px) {
	.footer {
		height: auto;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.footer__left {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.footer__middle {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.footer__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.footer__politconf {
		margin-bottom: 30px;
	}

	.footer__grechka {
		padding-right: 0;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.ft-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100px;
}

@media (max-width: 767.98px) {
	.ft-logo {
		height: auto;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.ft-politconf {
	font-size: 15px;
	line-height: 20px;
}

.ft-politconf span {
	display: inline-block;
	margin-right: 90px;
}

.ft-politconf a {
	text-decoration: underline;
}

@media (max-width: 767.98px) {
	.ft-politconf {
		text-align: center;
	}
}

@media (max-width: 1279.98px) {
	.ft-politconf span {
		margin-right: 0;
		margin-bottom: 5px;
		display: block;
	}
}

.ft-grechka span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #5d6161;
	margin-bottom: 5px;
}

.ft-grechka a {
	display: block;
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #1f1f1f;
}

@media (max-width: 767.98px) {
	.ft-grechka {
		text-align: center;
	}
}

.b-content {
	font-size: 14px;
	line-height: 25px;
}

.b-content *:last-child {
	margin-bottom: 0;
}

.b-content *:first-child {
	margin-top: 0;
}

.b-content p, .b-content h1, .b-content h2, .b-content h3, .b-content h4, .b-content h5, .b-content h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.b-content img, .b-content ul, .b-content ol {
	margin-top: 30px;
	margin-bottom: 30px;
}

.b-content ul, .b-content ol {
	padding-left: 20px;
}

.card-filter-field__title {
	display: block;
	height: 15px;
	font-size: 15px;
	line-height: 10px;
	color: #fff;
	margin-left: 20px;
	margin-bottom: 2px;
}

.card-filter-field__inputs {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-filter-field__first-input, .card-filter-field__last-input {
	width: -webkit-calc(50% - 5px);
	width: calc(50% - 5px);
}

.card-filter-field__select, .card-filter-field__button {
	width: 100%;
}

/* Блок свойства участка с иконкой */
.b-site-prop {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.b-site-prop__icon {
	margin-right: 10px;
}

.b-site-prop__desc {
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #1f1f1f;
}

/* Карточка массива в выдаче */
.card-array {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	background-color: #fff;
	height: 180px;
}

.card-array__left {
	position: relative;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 320px;
	-ms-flex: 0 0 320px;
	flex: 0 0 320px;
	max-width: 320px;
}

.card-array__left:hover .card-array__btn-buy {
	opacity: 1;
}

.card-array__right {
	position: relative;
	padding: 10px 20px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 560px;
	-ms-flex: 0 0 560px;
	flex: 0 0 560px;
	max-width: 560px;
}

.card-array__img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
}

.card-array__count {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 36px;
	height: 36px;
	background-color: #fff;
	border: 4px solid #f25454;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	font-size: 15px;
	line-height: 28px;
}

.card-array__btn-buy {
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 220px;
	opacity: 0;
}

.card-array__title {
	height: 50px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.card-array__title a {
	color: #4a4a4c !important;
	text-decoration: none !important;
}

.card-array__price {
	position: absolute;
	bottom: 85px;
	left: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-array__price span {
	display: block;
}

.card-array__price span:first-child {
	font-size: 15px;
	line-height: 20px;
	margin-right: 20px;
}

.card-array__price span:last-child {
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #4a4a4c;
}

.card-array__btns {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-array_focus {
	background-color: #e2f0ff;
}

@media (max-width: 1279.98px) {
	.card-array__left {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 40%;
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
	}

	.card-array__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 60%;
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
	}
}

@media (max-width: 767.98px) {
	.card-array {
		height: auto;
	}

	.card-array__left {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding: 15px;
	}

	.card-array__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.card-array__count {
		top: 30px;
		right: 30px;
	}

	.card-array__title {
		margin-bottom: 15px;
	}

	.card-array__price {
		position: static;
		margin-bottom: 15px;
	}

	.card-array__btns {
		position: static;
	}
}

/* Карточка участка в выдаче */
.card-site {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
}

.card-site__left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}

.card-site__middle {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-site__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-site__title a {
	color: #4a4a4c !important;
	text-decoration: none !important;
}

.card-site__adress {
	font-size: 15px;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.card-site__adress p {
	margin: 0;
}

.card-site__area {
	margin-right: 40px;
}

.card-site__button {
	width: 220px;
}

@media (max-width: 1279.98px) {
	.card-site__left {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 45%;
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
		max-width: 45%;
		padding-right: 40px;
	}

	.card-site__middle {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 20%;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.card-site__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 35%;
		-ms-flex: 0 0 35%;
		flex: 0 0 35%;
		max-width: 35%;
	}

	.card-site__area {
		margin-right: 0;
		margin-bottom: 5px;
	}
}

@media (max-width: 767.98px) {
	.card-site__left, .card-site__middle, .card-site__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.card-site__middle {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin-bottom: 20px;
	}

	.card-site__title {
		margin-bottom: 10px;
	}

	.card-site__adress {
		padding-right: 0;
		height: auto;
		margin-bottom: 20px;
	}

	.card-site__area {
		margin-right: 50px;
		margin-bottom: 0;
	}

	.card-site__right {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}

/* Карточка участка на странице участков */
.card-site-2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
}

.card-site-2__left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
}

.card-site-2__middle {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}

.card-site-2__middle-top, .card-site-2__middle-bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-site-2__middle-top {
	margin-bottom: 10px;
}

.card-site-2__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-site-2__title a {
	color: #4a4a4c !important;
	text-decoration: none !important;
}

.card-site-2__adress {
	font-size: 15px;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.card-site-2__adress p {
	margin: 0;
}

.card-site-2__array {
	font-size: 15px;
	line-height: 15px;
	color: #2371c9 !important;
	text-decoration: underline;
}

.card-site-2__area {
	width: 30%;
}

.card-site-2__price {
	width: 60%;
}

.card-site-2__area {
	margin-right: 40px;
}

.card-site-2__button {
	width: 220px;
}

@media (max-width: 1279.98px) {
	.card-site-2__left, .card-site-2__middle {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 15px;
	}

	.card-site-2__right {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}

@media (max-width: 767.98px) {
	.card-site-2 {
		padding: 15px;
	}

	.card-site-2__left, .card-site-2__middle, .card-site-2__right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.card-site-2__middle-top, .card-site-2__middle-bottom {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}

/* Карточка с иконкой на странице массива */
.card-arr-icon__icon {
	display: block;
	margin-bottom: 15px;
}

.card-arr-icon__title {
	margin: 0 0 30px;
}

.main {
	position: relative;
	padding-top: 70px;
	min-height: 100vh;
}

.main-filter__container {
	width: 100%;
	height: 100%;
	padding: 5px 15px 0;
	background-color: #6cacf4;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-filter__bg {
	display: none;
}

.main-filter__price, .main-filter__area, .main-filter__sity, .main-filter__concept, .main-filter__button {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 250px;
	-ms-flex: 0 0 250px;
	flex: 0 0 250px;
	max-width: 250px;
	padding: 0 15px;
}

@media (max-width: 1279.98px) {
	.main-filter {
		display: none;
	}

	.main-filter__container {
		position: relative;
		z-index: 1;
		padding: 40px 60px 30px;
		width: 50%;
		display: block;
		overflow-y: auto;
	}

	.main-filter__bg {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.8);
	}

	.main-filter__price, .main-filter__area, .main-filter__sity, .main-filter__concept, .main-filter__button {
		-webkit-box-flex: 0;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
		max-width: none;
		width: 100%;
		padding: 0;
	}

	.main-filter__price, .main-filter__area, .main-filter__sity, .main-filter__concept {
		margin-bottom: 15px;
	}

	.main-filter.display {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.main-filter.visible {
		opacity: 1;
	}
}

@media (max-width: 767.98px) {
	.main-filter__container {
		width: 100%;
		padding: 20px 30px 30px;
	}
}

.page-home {
	background-image: url("/img/bg-home.jpg");
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.page-home__title {
	font-family: 'FuturaPT';
	font-weight: 900;
	font-size: 60px;
	line-height: 55.5px;
	color: #fff;
	text-align: center;
	margin-top: -100px;
	margin-bottom: 38px;
}

.page-home__desc {
	margin-bottom: 42px;
}

.page-home__desc *:last-child {
	margin: 0;
}

.page-home__desc p {
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	text-align: center;
}

.page-home__filter {
	width: -webkit-calc(20px + 1200px);
	width: calc(20px + 1200px);
}

@media (max-width: 1279.98px) {
	.page-home__title {
		font-size: 36px;
		line-height: 48px;
		margin-top: 0;
	}

	.page-home__filter {
		width: 530px;
	}
}

@media (max-width: 767.98px) {
	.page-home__title {
		padding: 0 20px;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 20px;
	}

	.page-home__desc {
		padding: 0 20px;
		margin-bottom: 13px;
	}

	.page-home__desc p {
		font-size: 18px;
		line-height: 24px;
	}

	.page-home__filter {
		width: 100%;
	}
}

.home-filter__container {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.15);
	padding: 15px 10px 25px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.home-filter__price, .home-filter__area, .home-filter__sity, .home-filter__concept, .home-filter__button {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 20%;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
	padding: 0 10px;
}

@media (max-width: 1279.98px) {
	.home-filter__container {
		padding: 30px 5px 40px;
	}

	.home-filter__price, .home-filter__area, .home-filter__sity, .home-filter__concept, .home-filter__button {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 20px;
		padding: 0 15px;
	}

	.home-filter__button {
		margin-left: 25%;
		margin-bottom: 0;
	}
}

@media (max-width: 767.98px) {
	.home-filter__container {
		padding: 0;
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.home-filter__price, .home-filter__area, .home-filter__sity, .home-filter__concept {
		display: none;
	}

	.home-filter__button {
		padding: 0;
		-webkit-box-flex: 0;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
		max-width: none;
		width: 220px;
		margin-left: -webkit-calc((100% - 220px) / 2);
		margin-left: calc((100% - 220px) / 2);
	}
}

.page-map__filter, .page-map__cards, .page-map__ymap {
	position: fixed;
}

.page-map__cards, .page-map__ymap {
	top: 155px;
	height: -webkit-calc(100vh - 155px);
	height: calc(100vh - 155px);
}

.page-map__filter {
	z-index: 30;
	top: 70px;
	width: 100%;
	height: 85px;
}

.page-map__cards {
	z-index: 20;
	left: 0;
	width: 900px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.page-map__cards.close {
	left: -900px;
}

.page-map__ymap {
	z-index: 10;
	right: 0;
	width: -webkit-calc(100% - 900px);
	width: calc(100% - 900px);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.page-map__ymap.open {
	width: 100vw;
}

@media (max-width: 1279.98px) {
	.page-map__filter, .page-map__cards, .page-map__ymap {
		top: 110px;
		width: 100%;
		height: -webkit-calc(100vh - 110px);
		height: calc(100vh - 110px);
	}

	.page-map__filter, .page-map__ymap {
		z-index: 25;
	}

	.page-map__cards {
		width: 100%;
	}
}

.map-tgl-navs {
	display: none;
}

.map-tgl-navs__filter, .map-tgl-navs__map {
	border: none;
	outline: none !important;
	width: 50%;
	width: 50%;
	height: 40px;
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
}

.map-tgl-navs__filter {
	background-color: #6cacf4;
	color: #fff;
}

.map-tgl-navs__map {
	background-color: #fff;
	color: #4a4a4c;
}

@media (max-width: 1279.98px) {
	.map-tgl-navs {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.map-cards {
	background-color: #f6f6f6;
	-webkit-box-shadow: 10px 0px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 10px 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.map-cards__wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.map-cards__toggle {
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 0;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: translate(50%, -50%) rotate(90deg) translateY(-50%);
	-ms-transform: translate(50%, -50%) rotate(90deg) translateY(-50%);
	transform: translate(50%, -50%) rotate(90deg) translateY(-50%);
	height: 50px;
	width: 110px;
	background-color: #ffffff;
	border: none;
	outline: none !important;
	-webkit-border-top-left-radius: 25px;
	border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	border-top-right-radius: 25px;
	font-size: 14px;
	line-height: 50px;
	color: #6a6f75;
	cursor: pointer;
}

.map-cards__head {
	padding: 30px 30px 0;
	height: 160px;
}

.map-cards__title {
	margin: 0;
}

.map-cards__subtitle {
	display: block;
	margin-top: 20px;
}

.map-cards__back {
	display: block;
	margin-top: 20px;
	border: none;
	outline: none !important;
	background-color: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.map-cards__back span {
	margin-left: 10px;
}

.map-cards__body {
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
}

.map-cards__item {
	border-bottom: 1px solid #dadada;
}

.map-cards__item:first-child {
	border-top: 1px solid #dadada;
}

@media (max-width: 1279.98px) {
	.map-cards {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.map-cards__head {
		padding: 50px 24px 0;
		height: 110px;
	}

	.map-cards__body {
		padding: 0 24px;
		top: 110px;
	}
}

@media (max-width: 767.98px) {
	.map-cards__head {
		padding: 40px 15px 0;
		height: 120px;
	}

	.map-cards__body {
		padding: 0;
		top: 120px;
	}
}

@media (max-width: 1279.98px) {
	.map-ymap {
		display: none;
	}

	.map-ymap.display {
		display: block;
	}

	.map-ymap.visible {
		opacity: 1;
	}
}

.page-array {
	background-color: #f7f7f7;
}

.parr-main {
	position: relative;
	width: 100%;
	height: 730px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.parr-main__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
}

.parr-main__container {
	margin-bottom: 40px;
}

.parr-main__title {
	font-size: 60px;
	line-height: 60px;
	color: #fff;
	margin: 0;
}

.parr-main__btn-buy, .parr-main__btn-view-site {
	width: 220px;
	margin: 10px 0;
	float: right;
}

@media (max-width: 1279.98px) {
	.parr-main__title {
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 40px;
	}

	.parr-main__btn-buy, .parr-main__btn-view-site {
		margin: 0;
		float: none;
	}

	.parr-main__btn-buy {
		margin-right: 40px;
	}
}

@media (max-width: 767.98px) {
	.parr-main {
		height: -webkit-calc(100vh - 70px);
		height: calc(100vh - 70px);
	}

	.parr-main__container {
		margin-bottom: 20px;
	}

	.parr-main__title {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 15px;
	}

	.parr-main__btn-buy, .parr-main__btn-view-site {
		display: block;
		margin: 0 auto;
	}

	.parr-main__btn-buy {
		margin-bottom: 10px;
	}
}

.parr-props {
	background-color: #fff;
	height: 100px;
}

.parr-props__main {
	height: 100px;
	background-color: #2371c9;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 30px;
	margin-left: -15px;
	margin-right: -15px;
}

.parr-props__area span, .parr-props__price span {
	display: block;
	color: #fff;
	margin: 0;
}

.parr-props__area span:first-child, .parr-props__price span:first-child {
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 5px;
}

.parr-props__area span:last-child, .parr-props__price span:last-child {
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 24px;
	line-height: 16px;
}

.parr-props__area {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}

.parr-props__price {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 70%;
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
	max-width: 70%;
}

.parr-props__dop {
	height: 100px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.parr-props__row {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.parr-props__row span {
	display: block;
}

.parr-props__row span:first-child {
	font-size: 15px;
	line-height: 15px;
}

.parr-props__row span:last-child {
	font-family: 'FuturaPT';
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #1f1f1f;
}

.parr-props__row:first-child:not(:last-child) {
	margin-bottom: 10px;
}

@media (max-width: 1279.98px) {
	.parr-props {
		height: auto;
	}

	.parr-props__main {
		height: 80px;
		padding-left: 0;
		padding-right: 0;
	}

	.parr-props__area, .parr-props__price {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 25px;
		padding-right: 25px;
	}

	.parr-props__dop {
		height: 80px;
	}

	.parr-props__row {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 767.98px) {
	.parr-props__area, .parr-props__price {
		padding-left: 15px;
		padding-right: 15px;
	}

	.parr-props__area span:last-child, .parr-props__price span:last-child {
		font-size: 20px;
	}

	.parr-props__row {
		padding-left: 0;
		padding-right: 0;
	}
}

.parr-content {
	padding: 60px 0 0;
}

.parr-content__content {
	font-size: 18px;
}

.parr-content__img img {
	width: 100%;
	height: auto;
}

@media (max-width: 991.98px) {
	.parr-content {
		padding: 30px 0 0;
	}

	.parr-content__content {
		margin-bottom: 30px;
	}
}

.parr-media {
	padding: 60px 0 40px;
}

.parr-media__panorama {
	position: relative;
}

.parr-media__panorama::before {
	content: '';
	float: left;
	padding-bottom: 56.14035%;
}

.parr-media__panorama::after {
	content: '';
	display: table;
	clear: both;
}

.parr-media__btn-panorama {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 220px;
}

.parr-media__video {
	position: relative;
}

.parr-media__video::before {
	content: '';
	float: left;
	padding-bottom: 56.14035%;
}

.parr-media__video::after {
	content: '';
	display: table;
	clear: both;
}

.parr-media__video iframe, .parr-media__video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 991.98px) {
	.parr-media__panorama {
		margin-bottom: 30px;
	}
}

.parr-icons {
	padding: 60px 0 40px;
}

.parr-icons__item {
	margin-bottom: 50px;
}

@media (max-width: 1279.98px) {
	.parr-icons__item {
		margin-bottom: 40px;
	}
}

.b-slider {
	position: relative;
}

.b-slider__prev, .b-slider__next {
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 0;
	outline: none !important;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.b-slider__prev > img, .b-slider__prev > svg, .b-slider__next > img, .b-slider__next > svg {
	width: 48px;
	height: 48px;
}

.b-slider__prev > svg path, .b-slider__next > svg path {
	fill: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.b-slider__prev:hover, .b-slider__next:hover {
	background-color: #fff;
}

.b-slider__prev:hover > svg path, .b-slider__next:hover > svg path {
	fill: #2371c9;
}

.b-slider__prev {
	left: 20px;
}

.b-slider__next {
	right: 20px;
}

.b-slider__dots {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	z-index: 1;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.b-slider__dot {
	position: relative;
	width: 36px;
	height: 36px;
	margin: 0 5px;
	border: none;
	outline: none !important;
	cursor: pointer;
	background-color: transparent;
}

.b-slider__dot::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.b-slider__dot.active::after {
	height: 6px;
	background-color: #2371c9;
}

.b-slider__dot:hover::after {
	height: 6px;
}

.b-slider__item img {
	width: 100%;
	height: auto;
}

.parr-site {
	padding: 60px 0 60px;
}

.parr-site__item {
	margin-bottom: 20px;
}

@media (max-width: 1279.98px) {
	.parr-site {
		padding: 50px 0 40px;
	}

	.parr-site__item {
		margin-bottom: 10px;
	}
}

.page-site__toggle-navs, .page-site__filter, .page-site__main {
	position: fixed;
	left: 0;
	width: 100%;
}

.page-site__toggle-navs {
	top: 70px;
}

.page-site__filter {
	z-index: 20;
	top: 70px;
	height: 85px;
}

.page-site__main {
	background-color: #f2f2f2;
	z-index: 10;
	top: 155px;
	height: -webkit-calc(100vh - 155px);
	height: calc(100vh - 155px);
	overflow-y: auto;
}

.page-site__site, .page-site__paginator {
	margin-bottom: 40px;
}

@media (max-width: 1279.98px) {
	.page-site__filter, .page-site__main {
		top: 110px;
		height: -webkit-calc(100vh - 110px);
		height: calc(100vh - 110px);
	}
}

.psit-tgl-navs {
	display: none;
}

.psit-tgl-navs__filter {
	border: none;
	outline: none !important;
	width: 100%;
	height: 40px;
	font-family: 'FuturaPT';
	font-weight: 400;
	background-color: #6cacf4;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
}

@media (max-width: 1279.98px) {
	.psit-tgl-navs {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.psit-site {
	padding-top: 40px;
}

.psit-site__title {
	margin: 0 0 30px;
}

.psit-site__filter {
	margin-bottom: 30px;
}

.psit-site__item {
	margin-bottom: 10px;
}

.psit-filter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.psit-filter__title {
	display: block;
	font-size: 15px;
	line-height: 15px;
	margin-right: 88px;
}

.psit-filter__price, .psit-filter__area {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	border: none;
	outline: none !important;
	height: 16px;
	cursor: pointer;
	background-color: transparent;
}

.psit-filter__price span, .psit-filter__area span {
	display: block;
	font-size: 15px;
	line-height: 16px;
	color: #2371c9;
}

.psit-filter__price svg, .psit-filter__area svg {
	margin-right: 5px;
}

.psit-filter__price svg path, .psit-filter__area svg path {
	fill: #2371c9;
}

.psit-filter__price:not(.active) svg, .psit-filter__area:not(.active) svg {
	display: none;
}

.psit-filter__price {
	margin-right: 50px;
}

@media (max-width: 767.98px) {
	.psit-filter__title {
		display: none;
	}
}

.page-contacts {
	width: 100%;
	height: -webkit-calc(100vh - 70px);
	height: calc(100vh - 70px);
	background-color: #f2f2f2;
	overflow-y: auto;
}

.page-contacts__main {
	min-height: -webkit-calc(100vh - 170px);
	min-height: calc(100vh - 170px);
}
